<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
      <div class="site-nav">
	<h2>Related Blog</h2>
		{% for category in page.categories %}
			{% for post in site.categories[category] limit: 7 %}
			{% unless post.id == page.id %}
				<li><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></li>
			{% endunless %}
			{% endfor %}
		{% endfor %}
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
